.places {
    width: 987px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin: auto;
}

@media screen and (max-width: 320px) {
    .places {
        max-width: 320px;
    }
}