.place {
    margin-top: 92px;
    display: grid;
    grid-column-gap: 40px;
    grid-template-columns: minmax(100px, max-content) minmax(100px, max-content);
    grid-template-rows: auto repeat(minmax(100px, max-content));
    grid-template-areas:
    "title artist"
    "pic text"
    "pic text"
    "button .";
}

.places .place:nth-child(4) button {
    margin-top: 0;
}



@media screen and (max-width: 320px) {
 .place {
    max-width: 320px;
    margin: 62px 16px auto;
    grid-auto-flow: column;
    grid-template-rows: auto;
    grid-template-areas: 
    "title"
    "artist"
    "pic"
    "text"
    "text"
    "text"
    "button";
 }
}

@media screen and (min-width: 321px) and (max-width: 768px) {
    .place {
        max-width: 768px;
        margin: 88px 24px auto;
    }

    .places .place:nth-child(4) button {
        margin-top: -350px;
    }
}

