.place__text {
    width: 456px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin-top: 0;
    grid-area: text;
    grid-area: auto;
}

.place__text_artist{
    grid-area: artist;
}

@media screen and (max-width: 320px) {
    .place__text {
        width: 288px;
        height: auto;
        font-size: 16px;
        line-height: 163%;
    }
}

@media screen and (min-width: 321px) and (max-width: 768px) {
    .place__text {
        font-size: 16px;
        line-height: 163%;
        width: 352px;
        height: auto;
    }
}