.lead__hero-image {
    mix-blend-mode: luminosity;
    height: 615px;
    width: 984px;
    overflow: hidden;
    margin-top: 64px;
}

@media screen and (max-width: 320px) {
    .lead__hero-image {
        width: 100%;
        height: auto;
        margin-top: 40px;
    }
}