.logo__block {
    background-color: #0278FE;
    width: 32px;
    height: 32px;
    margin: auto;
    border-radius: 4px;
}

@media screen and (max-width: 320px) {
    .logo__block {
        width: 23.7px;
        height: 23.7px;
    }
}