.logo__line_position_horizontal {
    width: 32px;
    height: 2px;
    position: absolute;
    left: 44%;
    top: 8.57%;
}

.logo__line_position_vertical {
    width: 2px;
    height: 26px;
    position: absolute;
    left: 47.78%;
    top: 8.57%;
}